@font-face{
    font-family: 'Daydream';
    src: url('../assets/fonts/Daydream.ttf');
    font-weight: normal;
    font-style: normal;
}
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Daydream', 'monospace';
    font-size: 10px;
}

body{
    height: 100vh;
}

/* Section Game Start */

.game_start{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game_title{
    font-size: 3.4rem;
    text-align: center;
}
.blue_text{
    color: #0D47A1;
}
.yellow_text{
    color: #FFB300;
}
.red_text{
    color: #F50057;
}
.bit-border{
    border-style: solid;
    border-width: .3em 0;
    box-shadow: -.375em 0 0 -.125em,
        .375em 0 0 -.125em;
    position: relative;
    z-index: 1;
}
.bit-border:before{
    background-color: inherit;
    border: inherit;
    border-width: 0 0.3em;
    bottom: .375em;
    content: '';
    left: -.5em;
    pointer-events: none;
    position: absolute;
    top: .375em;
    right: -.5em;
    z-index: -1;
}
.bit-border:after{
    background-color: inherit;
    border: inherit;
    border-width: 0 .3em;
    bottom: .125em;
    content: '';
    left: -.375em;
    position: absolute;
    top: .125em;
    right: -.375em;
    z-index: -2;
}
 .button {
    margin: 0 .5em;
    padding: 2em 10em;

    font-size:1.8rem;
    font-family: 'Daydream','monospace';
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
.button:hover{
    scale: 105%;
}
.button:active{
    scale: 95%;
}
.play_btn:hover{
    background-color: #FFB300;
}

/* Section Game Play */
.game_replay_section{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.game_replay_overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    background-color: #00000048;
    height: 100vh;
    width: 100vw;
}
.game_replay{
    background-color: #ffffff;
    padding: 20rem;
    z-index: 2;
    
}
.replay_btn:hover{
    background-color: #4CAF50;
}
.thanks{
    -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
    color: #4CAF50;
    font-size: 2.4rem;
    text-align: center;
}
.close_btn{
    font-family: 'Daydream','monospace';
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2.4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.close_btn:hover{
    scale: 105%;
    color: #F50057;
}
.close_btn:active{
    scale: 95%;
    color: #F50057;
}

/* Game  */
.game_play_area{
    height: 80vh;
    width: 100vw;
}

/* Dashboard */

.game_dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.game_score_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 2.5rem;
}

/* Cards */

.game_cards{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18rem;
}
.game_card{
    padding: 4rem;
    background-color: #FFB300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.game_card:hover{
    transform: translateY(-5rem);
}
.game_card:active{
    transform: translateY(-3rem);
    scale: 95%;
}
.game_card_image_container{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game_card span{
    font-size: 3rem;
}
.game_card img{
    height: 25.6rem;
    width: 25.6rem;
    padding: 1rem;
}

/* Class Hidden */
.hidden{
    display: none;
}